body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btnescola{
    margin-top: 20px;
    
}
button{
    height: 50px;
    width: 100px;
    margin-top: 10px;
}
#espacamento{
    margin-top: 5px;
}