body{
    background: linear-gradient(blue, violet);
    height: 100vh;
    display: flex;
    justify-content: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.caixa{
    margin-top: 30px;
   height: 350px;
   width: 500px;
   background: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
}
.Filhos{
    margin-top: 15px;
}
.escola{
    margin-top: 15px;
}
.cargos{
    margin-top: 15px;
}
.dinheiro{
    margin-top: 15px; 
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
button{
    height: 50px;
    width: 100px;
}
#escrever{
    border: none;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    background: rgb(241, 236, 236)
}
button{
    border: none;
    background-color: blueviolet;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
}