body{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background: linear-gradient(darkred, darkblue);
    height: 100vh;
}
.caixa{
    padding-top:100px;
    height: 330px;
    width: 500px;
    margin: auto;
    background: white;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pesos{
    margin-top: 30px;
}
.alt{
    margin-top: 30px;
}
.hipert{
    margin-top: 30px;
}
.botao{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 50px;
    background:darkblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
input{
    border-radius: 5px;
    border: none;
    background: aliceblue;
}
#nome{
    height: 30px;
    width: 200px;
    padding-left: 100px;
}
