body{
    background: linear-gradient(red, black, darkred);
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 100px;
}
.caixa{
    background: wheat;
    height: 300px;
    width: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 100px;
    box-shadow: 5px 5px 10px;
}
.caixa button{
    background-color: brown;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 20px;
}
.caixa input{
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    border: none;
    margin: 30px;
    height: 3000px;
    width: 300px;
    padding: auto;
}